.duasColunas{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 60px;
}

.botaoPersonalizado{
    background-color: #6200ea;
    color: white;
    padding: 10px 20px;
    display: inline-block;
    cursor: pointer;
    width: 140px;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 5px;
}

.nomeArquivo{
    font-size: 0.9rem;
    margin-top: 5px;
    color: #333;
}

.preview{
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

.labCpf{
    margin-left: 5px;
}

.cpf{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 200px;
}

.labSenha{
    margin-left: 5px;
}

.senha{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 200px;
}

.labTelefone{
    margin-left: 5px;
}

.telefone{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 200px;
}

.labEmail{
    margin-left: 5px;
}

.email{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 200px;
}

.labCidade{
    margin-left: 5px;
}

.cidade{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 180px;
}

.labEstado{
    margin-left: 5px;
}

.estado{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 150px;
}

.Cadastrar{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.labPais{
    margin-left: 5px;
}

.pais{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 180px;
}

.labLinkedin{
    margin-left: 5px;
}

.linkedin{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 280px;
}

.labInstagram{
    margin-left: 5px;
}

.instagram{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 280px;
}

.CriarConta:hover{
    background-color: #45a049;
}