.container{
    padding: 20px; /*Bordas*/
    background-color: blanchedalmond;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 60px;
}

.listaFiltro{
    margin-top: 60px;
    font-weight: bold;
    color: black;
}

.labFiltroNome{
    font-weight: bold;
    color: black;
}

.filtroNome{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    color: black;
}

.labFiltroCargo{
    margin-left: 50px;
    font-weight: bold;
    color: black;
}

.filtroCargo{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
    width: 200px;
    background-color: white;
    color: black;
}

.campo{
    display: flex;
}

/* .labConsultEgressos{
    margin-left: 50px;
    margin-top: 40px;
    font-weight: bold;
    color: black;
} */

.lista{
    margin-top: 70px;
    color: black;
}

.consultEgressos{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;
    border: 1px solid black;
}