.container{
    padding: 20px;
    background-color: blueviolet;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 60px;
}

.cpf{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.labSenha{
    margin-left: 15px;
}

.senha{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.Cadastrar{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.CriarConta:hover{
    background-color: #45a049;
}