.duasColunas{
    background-color: blueviolet;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    align-items: center;
}

.campo{
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
}

.titulo{
    font-size: 24px;
    font-weight: bold;
    color: black;
    margin-bottom: 60px;
}

.labCpf{
    margin-left: 5px;
}

.cpf{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.labSenha{
    margin-left: 5px;
}

.senha{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.labTelefone{
    margin-left: 5px;
}

.telefone{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.labEmail{
    margin-left: 5px;
}

.email{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.labCidade{
    margin-left: 5px;
}

.cidade{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.labEstado{
    margin-left: 5px;
}

.estado{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.Cadastrar{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin-left: 30px;
    border: 1px solid black;
    border-radius: 10px;
}

.labPais{
    margin-left: 5px;
}

.pais{
    margin-left: 5px;
    border: 2px solid black;
    border-radius: 3px;
}

.CriarConta:hover{
    background-color: #45a049;
}